@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face {
  font-family: 'Europa-Bold';
  src: url('../fonts/@font-face/d3bfee78e8ead45d9057a95bb6ff5de8.eot');
  src: url('../fonts/@font-face/d3bfee78e8ead45d9057a95bb6ff5de8.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/@font-face/d3bfee78e8ead45d9057a95bb6ff5de8.woff2')
      format('woff2'),
    url('../fonts/@font-face/d3bfee78e8ead45d9057a95bb6ff5de8.woff')
      format('woff'),
    url('../fonts/@font-face/d3bfee78e8ead45d9057a95bb6ff5de8.ttf')
      format('truetype'),
    url('../fonts/@font-face/d3bfee78e8ead45d9057a95bb6ff5de8.svg#Europa-Bold')
      format('svg');
}

@font-face {
  font-family: 'Europa';
  src: url('../fonts/@font-face/23c0fcab84d99da0de762de7e220a6e1.eot');
  src: url('../fonts/@font-face/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/@font-face/23c0fcab84d99da0de762de7e220a6e1.woff2')
      format('woff2'),
    url('../fonts/@font-face/23c0fcab84d99da0de762de7e220a6e1.woff')
      format('woff'),
    url('../fonts/@font-face/23c0fcab84d99da0de762de7e220a6e1.ttf')
      format('truetype'),
    url('../fonts/@font-face/23c0fcab84d99da0de762de7e220a6e1.svg#Europa')
      format('svg');
}
