// fonts
$europaBold: 'Europa-Bold';
$europa: 'Europa';
$lato: 'Lato', sans-serif;

$white: #fff;

$black: #000;

$gray-1: #efefef;
$gray-2: #d8d8d8;
$gray-3: #747676;
$gray-4: #a3a4a4;
$gray-5: #5d5e5f;
$gray-6: #e8e8e8;

$darkGray: #464849;

$darkBlue: #333a4b;

$brand: #57c1ba;
$brand-2: #dbeeed;
$brand-3: #0fa69d;
