.arrow {
  top: 50%;
  width: 20px;
  position: absolute;
  transform: translateY(-50%);
  &.right {
    right: 1.9rem;
  }
  &.left {
    left: 1.9rem;
  }
  &.white-arrow {
    filter: invert(100%);
  }
}
