// from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox

/* The radio */
.radio {
  @include p4;
  text-transform: uppercase;
  line-height: 2rem;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2.6rem;
  margin-left: 1.4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.radio-inline {
    display: inline-block;
    margin-right: 5rem;
  }
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  border: 1px solid #e5e7e7;
  background-color: $white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: $brand;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
