.wp {
  display: flex;
  justify-content: center;

  &-split {
    width: 50%;
    min-height: 1080px;
    @media screen and (max-width: $breakpoint-1) {
      width: 100%;
    }
    &.left {
      background-color: $brand;
      background-image: url('~@/assets/images/Assets/Pattern_Boxes@2x.png');
      background-size: cover;
      @media screen and (max-width: $breakpoint-1) {
        display: none;
      }
    }

    &.right {
      right: 0;
      padding: 11rem 0;
      .wp-container {
        max-width: 43.2rem;
        margin: auto;
        @media screen and (max-width: $breakpoint-1) {
          width: 54%;
          margin: auto;
        }
        @media screen and (max-width: $breakpoint-2) {
          width: 72%;
          min-width: 29rem;
          margin: auto;
        }
      }
    }
  }
}
